* {
  transition: none;
}
.xdebug-error {
  margin-left: 300px;
}
.sub-header {
  padding-top: 60px;
  margin-top: -60px;
}
.current-mode0 .mode1,
.current-mode1 .mode0 {
  display: none;
}
.current-engine-mysql-off .engine-mysql,
.current-engine-oracle-off .engine-oracle,
.current-engine-postgresql-off .engine-postgresql,
.current-engine-sqlite-off .engine-sqlite {
  display: none;
}
.btn-default {
  background-color: #666;
  border-color: #888;
}
.btn-default:hover {
  background-color: #777;
  border-color: #999;
}
.sidebar li {
  border-bottom: 0!important;
  border-top: 1px solid #e7e7e7;
}
.sidebar li.second {
  border-top: none;
  border-bottom: 0!important;
}
.sidebar li.second a {
  padding-left: 37px;
}
.navbar-inverse .navbar-nav > .active2 > a,
.navbar-inverse .navbar-nav > .active2 > a:hover,
.navbar-inverse .navbar-nav > .active2 > a:focus {
  color: #fff;
  background-color: #080808;
}
.row .main {
  width: auto;
}
