* {
  transition: none;
}
.xdebug-error {
  margin-left: 300px;
}
.sub-header {
  padding-top: 60px;
  margin-top: -60px;
}
.current-mode0 .mode1,
.current-mode1 .mode0 {
  display: none;
}
.current-engine-mysql-off .engine-mysql,
.current-engine-oracle-off .engine-oracle,
.current-engine-postgresql-off .engine-postgresql,
.current-engine-sqlite-off .engine-sqlite {
  display: none;
}
